.homepage {
  background: #C2DEDC;
  padding: 50px;
  border-radius: 4px;
  margin-top: 65px;
  margin-left: 55px;
  margin-right: 55px;
  margin-bottom: 60px;
}
.hero {
  text-align: center;
}
h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
  font-size: 186px;
  text-align: center;
  line-height: 128px;
}

.content-container h1 {
  font-size: 40px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  text-align: center;
}
 .content-container h2 {
  font-size: 18px;
  font-family: 'Poppins', serif;
  font-weight: bold;
  }

 .content-container p {
  font-family: 'Poppins', serif;
  font-weight: normal;
  font-size: 16px;
  }

  .content-container img {
    border-radius: 10px;
    box-sizing: border-box;
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
  }

  .project-button {
  margin-left: 197px;
  
  }
.homepage p {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
}
p {
  text-align: center;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
  font-size: 200px;
}
.design-container p {
  font-family: 'Poppins', serif;
  font-weight: normal;
  font-size: 16px;
  text-align: start;
}

.button {
  text-align: center;
  padding: 60px;
}

.pancake-design {
  background: #C2DEDC;
}

@media (max-width: 900px) {
  h1, .content-container h1 {
    font-size: 34px;
  }
}