.homepage {
  background: #C2DEDC;
  padding: 30px 0;
  border-radius: 4px;
  margin-top: 65px;
  margin-left: 55px;
  margin-right: 55px;
  margin-bottom: 60px;
}
.hero {
  text-align: center;
}
h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
  font-size: 186px;
  text-align: center;
  line-height: 128px;
}

.content-container h1 {
  font-size: 40px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  text-align: center;
}
 .content-container h2 {
  font-size: 18px;
  font-family: 'Poppins', serif;
  font-weight: bold;
  }

 .content-container p {
  font-family: 'Poppins', serif;
  font-weight: normal;
  font-size: 16px;
  }

  .content-container img {
    border-radius: 10px;
    box-sizing: border-box;
  }
  
  .content-container h3 {
    text-align: center;
    font-family: 'Poppins', serif;
    font-weight: bolder;
  }
  .content-container {
    background: #C2DEDC;
    margin-left: 65px;
    margin-right: 65px;
    border-radius: 4px;
    padding: 10px 20px 20px 10px;
  }
  .content-container a {
   display: flex;
   justify-content: center;
  }
  .img-fluid {
    max-width: 100%;
    height: auto;
  }

  .project-button {
  margin-left: 197px;
  
  }
.homepage p {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
}
p {
  text-align: center;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
  font-size: 200px;
}
.design-container p {
  font-family: 'Poppins', serif;
  font-weight: normal;
  font-size: 16px;
  text-align: start;
}

.button {
  text-align: center;
  padding: 60px;
}

.pancake-design {
  background: #C2DEDC;
}

@media (max-width: 900px) {
  h1, .content-container h1 {
    font-size: 34px;
  }
  
h4 {
  font-size: 20px;
}
.btn {
  font-size: 16px;
}
footer .email-link {
  font-size: 12px;
}
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: #C2DEDC;
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box h4 {
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
  font-size: 30px;
}
footer .social-links a {
  margin: 0 30px;
  background: #C2DEDC;
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
}

footer .contact-box p {
  margin: 0;
}
footer .social-links a:hover {
  color: white;
  background: blue;
  
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  display: flex;
  justify-content: center;
}

footer .email-link:hover {
  color: blueviolet;
}